{% extends 'navigation.html'%}
{% load static %}
{% block body %}

<section class="about" id="about">

    <div class="image">
        <img src="{% static 'images/Learning-amico.png' %}" alt="">
    </div>

    <div class="content" >
        <h3>All About Notes Sharing</h3>
        <p>“Notes Sharing Site” is a website created for students and teachers where they can upload their notes and can download as well. Notes that the user wants for a particular subject can be found in the website. This project is written in Python Django and sqlite. Firstly, the user need to sign up and then, they can log in to the system.</p>
        <p> Notes Sharing Site is a open source you can Download and edit as per you need.</p>

    </div>

</section>
{% endblock %}